body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right,#aa9a8c, #877e77);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #383535;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
    padding: 1em;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro, .resources, .recovery, .vr {
    margin: 2em 0;
}

h2 {
    color: #0f0f0f;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0.5em 0;
}

li a {
    color: #3a18b3;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.step {
    background: #807473;
    color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    flex: 1 1 calc(25% - 2em);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background:#755959;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}